@font-face {
    font-family: ClashDisplay-Regular;
    src: url(/AirLugina/Assets/Fonts/OTF/ClashDisplay-Regular.otf);
}
@font-face {
    font-family: ClashDisplay-Bold;
    src: url(/AirLugina/Assets/Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
    font-family: ClashDisplay-Extralight;
    src: url(/AirLugina/Assets/Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
    font-family: ClashDisplay-Light;
    src: url(/AirLugina/Assets/Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
    font-family: ClashDisplay-Medium;
    src: url(/AirLugina/Assets/Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
    font-family: ClashDisplay-SemiBold;
    src: url(/AirLugina/Assets/Fonts/OTF/ClashDisplay-Semibold.otf);
}

@font-face{
    font-family: TradeGothic;
    src: url(/AirLugina/assets/Fonts/trade-gothic-lt-1361519976.ttf);
}
@font-face{
    font-family: Montserrat-Bold;
    src: url(/AirLugina/assets/Fonts/Montserrat/static/Montserrat-Bold.ttf);
}
@font-face{
    font-family: Montserrat-Medium;
    src: url(/AirLugina/assets/Fonts/Montserrat/static/Montserrat-Medium.ttf);
}
@font-face{
    font-family: Montserrat-Regular;
    src: url(/AirLugina/assets/Fonts/Montserrat/static/Montserrat-Regular.ttf);
}
@font-face{
    font-family: Montserrat-Semibold;
    src: url(/AirLugina/assets/Fonts/Montserrat/static/Montserrat-SemiBold.ttf);
}


*{
    margin:0;
    padding: 0;
}

body{
    background-color:#fafbfc ;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5% 10%;
    height: 900px;
    flex-wrap: wrap;
}


.forgot-ctn{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
}


.logo img{
    width: 50%;
    margin-bottom: 70px;
}

.forgot{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}


.link{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.link a{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    font-family: Montserrat-Medium;
    color: #112211;
}

.link h1{
    font-family: Montserrat-Semibold;
}

.link p{
    font-family: Montserrat-Regular;
    color: #112211;
}


.form-container form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.form-container form fieldset{
    font-family: Montserrat-Regular;
    color: #1C1B1F;
    border-radius: 4px;
}


.form-container form fieldset legend{
    font-family: Montserrat-Regular;
    color: #1C1B1F;
    margin-left: 10px;
}

.form-container form input{
    border: none;
    padding: 8px 8px 12px 8px;
    font-family: Montserrat-Regular;
    background-color: #fafbfc;
    width: 80%;
}

.form-container form input:focus{
    outline: none;
}

.form-container form button{
    background-color: #FF3D00;
    border: none;
    color: #ffffff;
    font-family: Montserrat-Semibold;
    padding: 8px 16px;
    border-radius: 4px;
}

.img img{
    width: 110%;
}

@media screen and (max-width:1100px) {
    
    .forgot-ctn{
        flex-direction: column;
        gap: 30px;
    }

    .forgot{
        width: 100%;
    }

    .logo img{
        margin-left: 23%;
        margin-bottom: 2%;
    }
    .img img{
        width: 100%;
        margin-bottom: 10%;
        display: none;
    }
}