* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: ClashDisplay-Regular;
}

@font-face {
  font-family: ClashDisplay-Regular;
  src: url(Fonts/OTF/ClashDisplay-Regular.otf);
}
@font-face {
  font-family: ClashDisplay-Bold;
  src: url(Fonts/OTF/ClashDisplay-Bold.otf);
}
@font-face {
  font-family: ClashDisplay-Extralight;
  src: url(Fonts/OTF/ClashDisplay-Extralight.otf);
}
@font-face {
  font-family: ClashDisplay-Light;
  src: url(Fonts/OTF/ClashDisplay-Light.otf);
}
@font-face {
  font-family: ClashDisplay-Medium;
  src: url(Fonts/OTF/ClashDisplay-Medium.otf);
}
@font-face {
  font-family: ClashDisplay-SemiBold;
  src: url(Fonts/OTF/ClashDisplay-Semibold.otf);
}


body {
  background-color: #FAFBFC ;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;

}


.hero {
  position: relative;
  margin-top: 20px;
  width: 100%;
  max-width: 1200px;
  height: 50vh;
  background: url('../assets/Images/backroung.png') center/cover no-repeat;
  display: flex;
  border-radius: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 20px;
}


.user-img img{
  width: 10%;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  color: white;
  position: absolute;
  top: 0;
}

.navbar .left-nav a {
  justify-content: center;
  font-size: 1.2rem;
  color: white;
  text-decoration: none;
}

.navbar .logo {
  font-size: 1.5rem;
  font-weight: bold;
}


.left-nav{
  display: flex;
  align-items: center;
  justify-content: center;
}


.left-nav a{
  text-decoration: none;
  color: white;
  font-family: ClashDisplay-Regular;
}

.sig {
  background-color: white;
  color: rgb(25, 35, 44);
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}
.sig a{
  text-decoration: none;
  color: black;
}
.sig a:hover{
  text-decoration: none;
  color: white;
}
.log{
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
  color: white;
  border: 1px solid white;
  background-color: transparent;
}
.log a{
  text-decoration: none; 
  color: white;
}

.log a:hover{
  color: black;
}

.log:hover {
  background-color: white;
  border-color: white;
  color: black;
}
.sig:hover {
  background-color: transparent;
  border-color: white;
  color: white;
}

.hero h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.hero h1 {
  font-size: 4rem;
  font-weight: bold;
}

.hero p {
  font-size: 1.2rem;
}

.form-container {
  position: relative;
  align-items: center;
  top: -70px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 1000px;
  padding: 20px;
}
.form-container form{

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.form-container h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}


.user-ctnn {
position: relative; 
display: flex;
flex-direction: column;
justify-content: center;
}


.user-ctn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-family: ClashDisplay-Regular;
  position: relative;
  width: 100%;
  gap: 5px;
}

.user-img img {
  margin-right: 10px;
  width: 50px;
  border-radius: 50%;
}

.arrow-down img {
  width: 20px;
  /* padding-top: 8px; */
}

.user-logo {
display: none; 
position: absolute; 
top: 100%; 
right: 0; 
z-index: 10; 
}

.dropdown-ctn{
  display: flex;
  justify-content: center;
  align-items: center;
}



.user-logo .dropdown {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 8px;
  flex-direction: column;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  width: 100%;
}

.dropdown a {
  text-decoration: none;
  font-family: ClashDisplay-Regular;
  color: black;
  padding: 8px;
}




.dropdown button {
  color: #FF8682;
  border: none;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}


.menu-ctn{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
display: none;
}



.dropdown-second {
display: none; 
position: absolute;
top: 60px; 
background-color: #fff;
border: 1px solid #ddd;
border-radius: 5px;
box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
z-index: 100;
}


.dropdown-second ul {
list-style: none;
margin: 0;
padding: 0;
}

.dropdown-second ul li {
padding: 10px;
text-align: center;
}



.dropdown-second ul li a {
text-decoration: none;
font-family: ClashDisplay-Regular;
color: black;
padding: 8px;
}

#login-signup a{
color: #FF3D00 !important;
}

.dropdown-second ul li a:hover {
background-color: #f4f4f4;
}


.dropdown-second.active {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}





.form-group {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 15px;
}

.form-group fieldset{
  border-radius: 8px;
}
.form-group fieldset legend{
  margin-left: 10px;
  font-family: ClashDisplay-Light !important;

}

.form-group label {
  display: block;
  font-size: 0.9rem;
  margin-bottom: 5px;
}

.form-group select,
.form-group input {
  width: 310px;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  padding: 10px 10px 14px 10px;
}

.form-group select,
.form-group input:focus{
 outline: none;
}

.submit-btn {
  display: block;
  float: right;
  padding: 12px;
  font-size: 1rem;
  color: white;
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.submit-btn a{
  color: white;
  text-decoration: none;
}

.submit-btn:hover {
  background-color: #ff5722;
}

.offerts{
  width: 1200px;
  
}
.tit{
  display: flex;
  justify-content: space-between;
  align-items: end;
  width: 100%;
}

.cards{
  margin-top: 30px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
}
.card {
  display: flex;
  border: 1px solid #e2e8f0; 
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  padding: 16px;
  overflow: hidden;
}

.card-image {
  width: 30%; 
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  margin-right: 16px;
}

.card-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-title {
  font-size: 1.25rem; 
  font-weight: 600;
  margin: 0;
}

.card-text {
  color: #4a5568; 
  margin-top: 8px;
}.cardd2 {
  width: 600px;
  height: 530px;
  color: white;
  background-image: url(../assets/Images/back.png); /* Default background */
  background-size: cover;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding: 30px;
  position: relative;
  transition: background-image 0.5s ease-in-out;
}

.slider-container {
    width: 100%;
    overflow: hidden;
    margin-bottom: 20px;
}

.slider-content {
    display: none;
    padding: 20px;
    text-align: center;
}

.slider-content.active {
    display: block;
}

h1 {
    font-size: 3rem;
    margin-bottom: 2px;
}

p {
  font-size: 1rem;
  margin-bottom: 7px;
}

 .fli{
  margin-top: 80px;
  display: flex;
  gap: 20px;
  margin-bottom: 80px;
 }

@media only screen and (max-width : 1220px){
  
.hero {
  width: 80%;
}

.offerts{
  width: 80%;
}

.fli{
  width: 80%;
}

.form-container{
  width: 90%;
}

.form-container form{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin: 0;
}
.form-group select{
  /* width: 100%; */
}

.form-group input{
  /* width: 100%; */
}

}

@media(max-width:900px) {
  .navbar button{
    width: 80px;
  }

  .hero-overlay h3{
    font-size: 30px;
  }
  
  .hero-overlay h1{
    font-size: 60px;
  }
  
  .hero-overlay p{
    font-size: 20px;
  }
  .form-container form{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .cards{
    margin-top: 30px;
    display: grid;
    grid-template-rows: 1fr 1fr ;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .space{
    height: 90px;
}
}



@media screen and (max-width:767px) {

.container{
    width: 100%;
}

.navbar{
    display: flex;
    justify-content: center;;
    align-items: center;
    gap: 10px;
    width: 100%;
}




.form-container{
  top: -30px;
}
.user-img img{
  width: 30px;
}

.dropdown a {
  font-size: 12px;
}


.user-name p{
  font-size: 15px;
}

.buttons{
  display: none;
}

.menu-ctn{
  display: flex;
  /* margin-left: 20px; */
}

.logo span img{
  width: 100px;
}

.form-group{
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.form-group select{
  /* width:100%; */
}

.form-group input{
  /* width:100%; */
}


.hero h3{
  margin-top: 80px;
}

.left-nav{
  display: none !important;
}


.menu-toggle img{
  width: 30px;
  height: 30px;
}

.cards{
  margin-top: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.card{
  width: 100%;
  font-size: 20px;
}

.card-content h3{
  font-size: 30px;
}
.features h1{
  font-size: 40px;
}
.tit{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction:column;
  gap: 30px;

}

.fli{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 80%;
}

.cardd{
  width: 100%;
}

.cardd2{
  width: 100%;
}

}

@media screen and (max-width:360px) {
.form-group select{
  width: 100%;
}

.form-group input{
  width: 100%;
}
}